{% extends "dashboard/manage_dashboard.html" %}
{% load static %}
{% block profile %}
<div class="max-w-[900px] bg-white mx-auto shadow-md border py-5 px-3 sm:px-10 rounded-md md:mt-8">
    <div class="lg:grid lg:grid-cols-2 lg:gap-4 items-center">
        <div class="hidden lg:block">
            <img src="{% static "images/change_password.svg" %}" alt="Change Password">
        </div>
        <div class="border p-4 mt-4 md:mt-0">
            <h1 class="text-center font-semibold mb-6 text-2xl">Change your password</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="w-full bg-black p-2 border rounded-md text-white mt-2" type="submit" value="Submit">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock profile %}