{% extends "dashboard/manage_dashboard.html" %}
{% block profile %}
    <div class="max-w-[800px] mx-auto md:mt-8 bg-white shadow-md border py-5 px-3 sm:px-10 rounded-md">
        <h1 class="text-center font-semibold mb-6 text-2xl">Update your profile</h1>
        <form method="post" enctype='multipart/form-data'>
            {% csrf_token %}
            {% for field in form %}
                <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                {{ field }}
                {% if field.errors %}
                    <ul>
                        {% for error in field.errors %}<li class="text-orange-400 font-bold">{{ error }}</li>{% endfor %}
                    </ul>
                {% endif %}
            {% endfor %}
            <button class="w-40 md:w-80 bg-black p-2 border rounded-md text-white mt-2"
                    type="submit"
                    value="Submit">Update Profile</button>
        </form>
    </div>
{% endblock profile %}
