{% extends "dashboard/manage_dashboard.html" %}
{% block group %}
    <div class="max-w-[700px] mx-auto bg-white shadow-md border py-5 px-3 sm:px-10 rounded-md">
        <div class="flex justify-center">
            <h1 class="text-2xl md:text-3xl inline-block font-bold mt-3 mb-5 border-b-2 rounded-md border-slate-700">
                Create A New Group
            </h1>
        </div>
        <div>
            {% if messages %}
                {% for message in messages %}
                    <p class="px-2 py-3 rounded-md text-white font-semibold text-center {% if message.tags == 'success' %}bg-green-400{% elif message.tags == 'error' %} bg-yellow-500{% endif %}">
                        {{ message }}
                    </p>
                {% endfor %}
            {% endif %}
        </div>
        <form class="mt-2" method="post">
            {% csrf_token %}
            <button type="button"
                    id="select-all"
                    class="px-3 py-2 cursor-pointer rounded-sm bg-red-600 hover:bg-black text-white transition-colors duration-300">
                Select All
            </button>
            <button type="button"
                    id="deselect-all"
                    class="px-3 py-2 mb-3 cursor-pointer rounded-sm bg-red-600 hover:bg-black text-white transition-colors duration-300">
                Deselect All
            </button>
            {{ form }}
            <button class="w-full sm:w-80 p-3 font-bold text-white bg-orange-400 mt-3 mb-5"
                    type="submit">Create Group</button>
        </form>
    </div>
    <script>
    {% comment %} Select All  {% endcomment %}
    document.getElementById('select-all').addEventListener('click', () => {
        let checkBoxes = document.querySelectorAll('input[name="permissions"]');
        checkBoxes.forEach((checkbox) => {
            checkbox.checked = true;
        });
    });
    {% comment %} Deselect All  {% endcomment %}
    document.getElementById('deselect-all').addEventListener('click', () => {
        let checkBoxes = document.querySelectorAll('input[name="permissions"]');
        checkBoxes.forEach((checkbox) => {
            checkbox.checked = false;
        });
    });
    </script>
{% endblock group %}
