{% extends "home.html" %}
{% load static %}

{% block header %}
<header class="bg-[url({% static 'images/bg1.jpg' %})] w-full h-screen bg-cover bg-center pt-20 relative">
    <div class="absolute inset-0 bg-black bg-opacity-60"></div>
    {% comment %} Banner section {% endcomment %}
    <section class="absolute inset-0 z-10 flex items-center justify-center">
      <div class="w-96 md:w-[600px] p-2">
        <h3 class="text-lg md:text-xl font-semibold text-white mb-2 md:mb-4">WELCOME TO,</h3>
        <h1 class="text-2xl md:text-5xl font-bold text-white">
            The World’s Best Event Management Agency for Corporate
        </h1>
        <p class="text-white mt-2 md:mt-4 font-semibold">A integer hac in id. Mollis consequat, consectetur egestas in quam. Id velit eleifend tincidunt varius sagittis sed ut. Pretium, risus ac augue arcu ullamcorper semper integer</p>
      </div>
    </section>
</header>
{% endblock header %}

{% block event %}
{% comment %} Search Section {% endcomment %}
<section class="bg-white shadow-md rounded-md p-5 md:p-9 md:pb-14 relative -top-28">
    <h2 class="text-2xl text-center md:text-left md:text-4xl mb-3 md:mb-0 text-black font-semibold md:relative left-20">SEARCH THE BEST EVENT!</h2>
    <h2 class="text-xl text-center md:text-left mb-3 md:mb-0 text-black font-semibold md:relative left-20">Search events by name or category or both or Start and End date</h2>
    {% comment %} for name or category or both filter  {% endcomment %}
    <form class="md:flex gap-3 md:px-20 justify-between md:pt-14" action="{% url "event-info" %}" method="GET">
        {% csrf_token %}
        <input class="w-full p-2 md:p-3 rounded-full border border-red-500" placeholder="Search event name.." name="name" type="text">
        <select class="w-full p-2 md:p-3 mt-3 md:mt-0 rounded-full border border-red-500" name="category">
            <option class="" value="all">Choose Category</option>
            {% for category in categories %}
                <option value="{{category.id}}">{{category.name}}</option>
            {% endfor %}
        </select>
        <button type="submit" class="w-full mt-3 md:mt-0 p-2 md:p-3 rounded-full bg-stone-950 text-white font-semibold">Search</button>
    </form>
    {% comment %} for start and end filter  {% endcomment %}
    <form class="grid grid-cols-3 gap-1 md:gap-3 md:px-20 mt-2 md:mt-0 justify-between items-center md:pt-4" action="{% url "event-info" %}" method="GET">
        {% csrf_token %}
        <div>
            <label class="text-black ml-2" for="start">Start Date</label>
            <input class="w-full p-1 md:p-3 rounded-full border border-red-500" type="date" id="start" required name="start-date">
        </div>
        <div>
            <label class="text-black ml-2" for="end">End Date</label>
            <input class="w-full p-1 md:p-3 rounded-full border border-red-500" type="date" id="end" required name="end-date">
        </div>
        <div class="mt-3 md:mt-5">
            <button type="submit" class="w-full mt-3 md:mt-0 p-2 md:p-3 rounded-full bg-stone-950 text-white font-semibold">Search</button>
        </div>
    </form>
</section>
{% comment %} All Event {% endcomment %}
<section>
    <h1 class="text-xl -mt-14 md:-mt-0 md:text-4xl mb-8 text-center py-2 font-bold">OUR EVENT</h1>
    {% if event_data.exists %}
    <div class="grid grid-cols sm:grid-cols-2 lg:grid-cols-3 gap-4">
        {% for event in event_data %}
            <div class=" bg-white border border-gray-200 rounded-lg shadow-sm ">
                {% if event.image %}
                    <img class="h-[200px] w-full object-cover" src="{{event.image.url}}" alt="Image" />
                {% else %}
                    <img class="h-[200px] w-full object-cover" src="{% static 'images/event-img.jpeg' %}" alt="Image" />
                {% endif %}
                <div class="p-5">
                    <h5 class="mb-2 text-xl lg:text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{event.name}}</h5>
                    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{event.description|slice:"0:100"}}...</p>
                    <h3 class="text-sm md:text-lg text-black font-bold">Location: {{event.location|slice:"0:30"}}...</h3>
                    <h3 class="text-sm md:text-lg text-black font-semibold">Total Participant: <span class="font-bold">{{event.participant.count}}</span></h3>
                    <div class="mt-3">
                        {% if user in event.participant.all %}
                            <a class="bg-gray-500 mr-2 text-white py-2 px-3 font-semibold">
                                Already RSVP
                            </a>
                        {% else %}
                            <a href="{% url "join-event" event.id %}" class="bg-black mr-2 text-white py-2 px-3 font-semibold hover:bg-orange-400">
                                RSVP
                            </a>
                        {% endif %}
                        <a href="{% url "details" event.id %}" class="bg-black text-white py-2 px-3 font-semibold hover:bg-orange-400">SEE DETAILS</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h2 class="max-w-80 mx-auto my-10 text-center justify-center text-yellow-400  text-lg sm:text-2xl font-bold">Sorry! No data available for the search!!</h2>
    {% endif %}
</section>

{% endblock event %}