{% if page_obj.paginator.num_pages > 1 %}
  <div class="flex relative sm:static justify-center items-center gap-2 sm:gap-4 font-medium">
    {% if page_obj.has_previous %}
      <div class="flex items-center gap-2 sm:gap-4">
        <a class="flex items-center gap-1 hover:text-red-700 transition-colors duration-300"
           href="?{{ query_string }}&page=1">
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="size-3 sm:size-4 mt-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
          </svg>
        first</a>
        <a href="?{{ query_string }}&page={{ page_obj.previous_page_number }}"
           class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-lg hover:bg-red-700 hover:text-white hover:border-red-300 transition-colors duration-300">
          <svg class="w-2.5 sm:w-3.5 h-2.5 sm:h-3.5 me-2 rtl:rotate-180"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4" />
          </svg>
          Previous
        </a>
      </div>
    {% endif %}
    <span class="absolute sm:static bottom-10 sm:bottom-0">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    {% if page_obj.has_next %}
      <div class="flex items-center gap-2 sm:gap-4">
        <a href="?{{ query_string }}&page={{ page_obj.next_page_number }}"
           class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-700 bg-white border border-gray-300 rounded-lg hover:bg-red-700 hover:text-white hover:border-red-300 transition-colors duration-300">
          Next
          <svg class="w-2.5 sm:w-3.5 h-2.5 sm:h-3.5 ms-2 rtl:rotate-180"
               aria-hidden="true"
               xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 14 10">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9" />
          </svg>
        </a>
        <a class="flex items-center gap-1 hover:text-red-700 transition-colors duration-300"
           href="?{{ query_string }}&page={{ page_obj.paginator.num_pages }}">last
          <svg xmlns="http://www.w3.org/2000/svg"
               fill="none"
               viewBox="0 0 24 24"
               stroke-width="1.5"
               stroke="currentColor"
               class="size-3 sm:size-4 mt-1">
            <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
          </svg>
        </a>
      </div>
    {% endif %}
  </div>
{% endif %}
