{% extends "dashboard/manage_dashboard.html" %}

{% block dashboard %}
<div class="">
    <div class="grid grid-cols-2 gap-3 md:gap-4 md:grid-cols-4">
        <h2 class="bg-orange-500 text-white p-3 text-center text-lg sm:text-xl font-semibold">Total Participants: {{total_participant}}</h2>
        <h2 class="bg-orange-500 text-white p-3 text-center text-lg sm:text-xl font-semibold">Total Events: {{count.total_event}}</h2>
        <h2 class="bg-orange-500 text-white p-3 text-center text-lg sm:text-xl font-semibold">Total Upcoming Events: {{count.total_upcoming}}</h2>
        <h2 class="bg-orange-500 text-white p-3 text-center text-lg sm:text-xl font-semibold">Total Past Events: {{count.total_past}}</h2>
    </div>
    {% comment %} Events Scheduled For Today {% endcomment %}
    <section class="mt-5 md:mt-10">
        <h2 class="max-w-80 mx-auto text-center justify-center border-b-4 border-orange-400 text-lg sm:text-2xl font-bold">Events Scheduled For Today</h2>
        {% if todays_event %}
            <div class="bg-slate-200 text-black mt-5 divide-y divide-blue-200">
                <div class="grid grid-cols-3 gap-3 md:gap-4 md:grid-cols-5">
                    <h2 class=" p-3 text-center text-lg sm:text-xl font-semibold">Title</h2>
                    <h2 class="p-3 text-center text-lg sm:text-xl font-semibold hidden md:block">Category</h2>
                    <h2 class="p-3 text-center text-lg sm:text-xl font-semibold hidden md:block">Location</h2>
                    <h2 class="p-3 text-center text-lg sm:text-xl font-semibold">Date</h2>
                    <h2 class="p-3 text-center text-lg sm:text-xl font-semibold">Time</h2>
                </div>
                <div class="grid grid-cols-3 gap-3 md:gap-4 md:grid-cols-5">
                    {% for event in todays_event %}
                        <h2 class="p-2 text-center text-xs sm:text-sm font-semibold">{{event.name}}</h2>
                        <h2 class="p-2 text-center text-xs sm:text-sm font-semibold hidden md:block">{{event.category}}</h2>
                        <h2 class="p-2 text-center text-xs sm:text-sm font-semibold hidden md:block">{{event.location}}</h2>
                        <h2 class="p-2 text-center text-xs sm:text-sm font-semibold">{{event.date}}</h2>
                        <h2 class="p-2 text-center text-xs sm:text-sm font-semibold">{{event.time}}</h2>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <h2 class="max-w-80 mx-auto mt-5 sm:mt-10 text-center justify-center  text-lg sm:text-xl font-bold">No events available for today!!</h2>
        {% endif %}
    </section>
    {% comment %} Interactive Stats {% endcomment %}
    <section class="mt-5 md:mt-14">
        <div class="flex rounded-md shadow-xs justify-center mt-5 md:mt-10" role="group">
            <a href="{% url "dashboard" %}" type="button" class="px-4 py-2 text-sm md:text-lg font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Total Events
            </a>
            <a href="{% url "dashboard" %}?type=upcoming" type="button" class="px-4 py-2 text-sm md:text-lg font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Upcoming Events
            </a>
            <a href="{% url "dashboard" %}?type=past" type="button" class="px-4 py-2 text-sm md:text-lg font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Past Events
            </a>
        </div>
        <div class="bg-slate-50 text-black mt-5 divide-y">
            {% if events %}
                <div class="grid grid-cols-3 gap-2 md:gap-4 md:grid-cols-5 divide-y">
                    <h2 class="p-2 text-center text-sm sm:text-lg font-semibold">Title</h2>
                    <h2 class="p-2 text-center text-sm sm:text-lg font-semibold hidden md:block">Category</h2>
                    <h2 class="p-2 text-center text-sm sm:text-lg font-semibold hidden md:block">Location</h2>
                    <h2 class="p-2 text-center text-sm sm:text-lg font-semibold">Date</h2>
                    <h2 class="p-2 text-center text-sm sm:text-lg font-semibold">Time</h2>
                </div>
                <div class="grid grid-cols-3 gap-2 md:gap-4 md:grid-cols-5">
                    {% for event in events %}
                        <h2 class="p-2 text-center text-xs sm:text-sm font-semibold">{{event.name}}</h2>
                        <h2 class="p-2 text-center text-xs sm:text-sm font-semibold hidden md:block">{{event.category}}</h2>
                        <h2 class="p-2 text-center text-xs sm:text-sm font-semibold hidden md:block">{{event.location}}</h2>
                        <h2 class="p-2 text-center text-xs sm:text-sm font-semibold">{{event.date}}</h2>
                        <h2 class="p-2 text-center text-xs sm:text-sm font-semibold">{{event.time}}</h2>
                    {% endfor %}
                </div>
            {% else %}
                <h2 class="max-w-80 mx-auto mt-5 sm:mt-10 text-center justify-center  text-lg sm:text-xl font-bold">Sorry! No events available!!</h2>
            {% endif %}
        </div>
    </section>
</div>
{% endblock dashboard %}