{% extends "home.html" %}

{% block dashboard %}
<div class="mt-10">
    <div class="grid grid-cols-2 gap-3 md:gap-4 md:grid-cols-4">
        <h2 class="bg-orange-500 text-white p-3 text-center text-lg sm:text-xl font-semibold">Total Participants: 00</h2>
        <h2 class="bg-orange-500 text-white p-3 text-center text-lg sm:text-xl font-semibold">Total Events: 00</h2>
        <h2 class="bg-orange-500 text-white p-3 text-center text-lg sm:text-xl font-semibold">Total Upcoming Events: 00</h2>
        <h2 class="bg-orange-500 text-white p-3 text-center text-lg sm:text-xl font-semibold">Total Past Events: 00</h2>
    </div>
    {% comment %} Events Scheduled For Today {% endcomment %}
    <section class="mt-5 md:mt-10">
        <h2 class="max-w-80 mx-auto text-center justify-center border-b-4 border-orange-400 text-lg sm:text-2xl font-bold">Events Scheduled For Today</h2>
        <div class="bg-slate-50 text-black mt-5 divide-y">
            <div class="grid grid-cols-2 gap-3 md:gap-4 md:grid-cols-4">
                <h2 class=" p-3 text-center text-lg sm:text-xl font-semibold">Title</h2>
                <h2 class="p-3 text-center text-lg sm:text-xl font-semibold hidden md:block">Category</h2>
                <h2 class="p-3 text-center text-lg sm:text-xl font-semibold hidden md:block">Location</h2>
                <h2 class="p-3 text-center text-lg sm:text-xl font-semibold">Date</h2>
            </div>
            <div class="grid grid-cols-2 gap-3 md:gap-4 md:grid-cols-4">
                <h2 class="p-2 text-center text-sm sm:text-lg font-semibold">Title</h2>
                <h2 class="p-2 text-center text-sm sm:text-lg font-semibold hidden md:block">Category</h2>
                <h2 class="p-2 text-center text-sm sm:text-lg font-semibold hidden md:block">Location</h2>
                <h2 class="p-2 text-center text-sm sm:text-lg font-semibold">Date</h2>
            </div>
        </div>
    </section>
    {% comment %} Interactive Stats {% endcomment %}
    <section class="mt-5 md:mt-10">
        <div class="flex rounded-md shadow-xs justify-center mt-5 md:mt-10" role="group">
            <button type="button" class="px-4 py-2 text-sm md:text-lg font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Total Events
            </button>
            <button type="button" class="px-4 py-2 text-sm md:text-lg font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Upcoming Events
            </button>
            <button type="button" class="px-4 py-2 text-sm md:text-lg font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
                Past Events
            </button>
        </div>
        <div class="bg-slate-50 text-black mt-5 divide-y">
            <div class="grid grid-cols-3 gap-2 md:gap-4 md:grid-cols-5 divide-y">
                <h2 class="p-2 text-center text-sm sm:text-lg font-semibold">Title</h2>
                <h2 class="p-2 text-center text-sm sm:text-lg font-semibold hidden md:block">Category</h2>
                <h2 class="p-2 text-center text-sm sm:text-lg font-semibold hidden md:block">Location</h2>
                <h2 class="p-2 text-center text-sm sm:text-lg font-semibold">Date</h2>
                <h2 class="p-2 text-center text-sm sm:text-lg font-semibold">Operation</h2>
            </div>
            <div class="grid grid-cols-3 gap-2 md:gap-4 md:grid-cols-5 divide-y">
                {% for event in events %}
                    <h2 class="p-2 text-center text-xs sm:text-sm font-semibold">{{event.name}}</h2>
                    <h2 class="p-2 text-center text-xs sm:text-sm font-semibold hidden md:block">{{event.category}}</h2>
                    <h2 class="p-2 text-center text-xs sm:text-sm font-semibold hidden md:block">{{event.location}}</h2>
                    <h2 class="p-2 text-center text-xs sm:text-sm font-semibold">{{event.date}}</h2>
                    <h2 class="p-2 text-center text-xs sm:text-sm font-semibold flex justify-center gap-2 sm:gap-3">
                        <a href="{% url 'add-event' %}">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-3.5 sm:size-5 hover:text-gray-400 text-green-500">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                            </svg>                          
                        </a>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-3.5 sm:size-5 hover:text-gray-400 text-yellow-500">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L10.582 16.07a4.5 4.5 0 0 1-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 0 1 1.13-1.897l8.932-8.931Zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0 1 15.75 21H5.25A2.25 2.25 0 0 1 3 18.75V8.25A2.25 2.25 0 0 1 5.25 6H10" />
                            </svg>
                        </button>
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="size-3.5 sm:size-5 hover:text-gray-400 text-red-500">
                                <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                            </svg>  
                        </button>                                        
                    </h2>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock dashboard %}