{% extends "home.html" %}
{% load static %}
{% block form %}
<div class="max-w-[900px] bg-white mx-auto mt-28 md:mb-48 shadow-md border py-5 px-3 sm:px-10 rounded-md">
    <div class="md:grid md:grid-cols-2 md:gap-4 items-center">
        <div>
            <img src="{% static "images/forgot_password.svg" %}" alt="Forgot Password">
        </div>
        <div class="border p-4 mt-4 md:mt-0">
            <h1 class="text-center font-semibold mb-6 text-2xl">Reset your password</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="w-full bg-black p-2 border rounded-md text-white mt-2" type="submit" value="Submit">Reset Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock form %}